@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome  @Model.Username</h1>
    <p><a href="/create">Create To Do Item</a></p>
    @if (Model.Items.Any())
    {
        
        <table>
            <tr style="vertical-align:top">
                <th>Title</th>
                <th style="padding-left: 1.2rem; padding-right: 1.2rem;">Description</th>
                <th>Completed</th>
                <th>Time Created</th>
            </tr>
            @foreach(var item in Model.Items)
            {
                <tr style="vertical-align:bottom">
                    
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td><a href="/"><input type="checkbox" name="isActive" value="@item.Completed" style="pointer-events: none;"/></a></td>
                        <td style="padding-right: 1.2rem;">@item.CreatedAt</td>
                        <td>
                            <a>Edit</a> | <form method="post" asp-page-handler="Delete" asp-route-id="@item.ItemId" style="display:inline;"><button type="submit" class="btn btn-link">Delete</button></form>
                        </td>
                </tr>
            }
        </table>
    } else{
        <p>No tasks!</p>
    }
</div>
